@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Rokkitt&family=Ubuntu+Mono&display=swap');

*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
  margin: 0;
  font-family: 'Rokkitt', -apple-system, BlinkMacSystemFont, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
	font-family: 'Ubuntu Mono', source-code-pro,
	  Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5 {
	font-family: 'Ubuntu Mono', monospace !important;
}

button {
	font-family: 'Ubuntu Mono', monospace;
}

/* Material UI override */

.MuiPaper-root {
	border-radius: 0 !important;
}

.MuiPaper-rounded {
	background: rgba(175, 245, 235, .9) !important;
	border-radius: 0 !important;
}

.MuiDialog-paperWidthSm {
	max-width: unset !important;
}

.MuiPickersBasePicker-container {
	background: white !important;
}
